body {
background: grey;
margin: 0px;
padding: 0px;
}
.container{
width: 100%;
height: 100%;
}
.navbar {
position: relative;
width:86%;
float: right;
height:100px;
border:1px solid red;
background-color:orange;
}
.navbar li{
display:inline-block; 
}
.leftmenu {
position: fixed;
float: top;
width:200px;
height:400px;
border:1px solid red;
background-color:orange;
}
.content{
overflow: scroll;
float:right;
border:1px solid red;
background-color:orange;
width:85%;
height:45%;
font-size:25;
}
.clear{
clear: both;
}

ol {list-style-type:square;}
li:hover {background: white;}
.leftmenu #focus:focus {color: blue;}
.leftmenu #visited:visited {color: blue;}
.navbar li a.active,
.navbar  li a :hover{color: yellow;}
.leftmenu li a.active,
.leftmenu  li a :hover{color: yellow;}

.footer {
top: 400px;
position: fixed;
width:100%;
height:100px;
border:1px solid red;
background-color:orange;
}